* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (min-width:600px) and (max-width:991px) {
    .navbar-collapse{
        text-align: center; 
     }
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler{

    border: none;
}

.navbar-toggler:active{
    border: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    color: #ffffff;
    padding: 20px 0;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

.destination {
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #35424a;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    header, footer {
        padding: 15px 0;
    }

    .destination {
        padding: 15px;
    }
}
